@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #333;
}

@media (max-width: 768px) {
  .lg\:h-3\/4 {
    height: auto;
  }

  .lg\:pt-4 {
    padding-top: 1rem;
  }

  .lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:mb-\[7rem\] {
    margin-bottom: 1.75rem;
  }

  .lg\:w-3\/4 {
    width: 100%;
  }

  .lg\:max-w-\[30rem\] {
    max-width: 100%;
  }

  .lg\:max-w-\[40rem\] {
    max-width: 100%;
  }

  .lg\:ml-\[20rem\] {
    margin-left: 0;
  }
}